<div class="card container shadow p-3 mb-5 bg-white rounded">
    <hr class="w-100 border-danger" style="border: 1px solid red; border-radius: 5px; ">
  <div class="card-header text-center">
    <h1>New Service</h1>
    <hr class="clearfix w-100 border-secondary">
  </div>
  <div class="card-body">
    <%= render 'form', service: @service %>
  </div>
  <div class="card-footer text-muted">
    <%= link_to 'Back', services_path %>
  </div>
</div>








