<div class="row">
    <div class="col ms-4 mt-3">
        <h1 class="display-6 fs-5 fw-bold title">Check INs (This Month)</h1>
    </div>
    <div class="col d-flex flex-row-reverse mx-4 mt-3">
        <div class="btn-Groups">
            <button class="btn btn-outline-primary">
                <i class="bi bi-funnel-fill"></i>
                Filter
            </button>
            <button class="btn btn-outline-primary">
                <i class="bi bi-plus-lg"></i>
                New Check INs
            </button>
            <button class="btn btn-outline-primary">
                <i class="bi bi-x-lg"></i>
                Delete
            </button>
        </div>
    </div>
</div>
<hr class="clearfix w-100 border border-primary">
<div class="row">
    <p class="ms-3 fs-6">Show
    <select name="select" id="show">
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="100">100</option>
        </select>
            entries 
    </p>
    <div class="col d-flex flex-row-reverse ms-5">
        <input type="text" class="form-control-md">
        <label for="" class="mx-1" >Search</label>
    </div>
</div>