<div class="card container shadow p-3 mb-5 bg-white rounded">
  <div class="card-header text-center">
    <h4>New Patient</h4>
  </div>
  <div class="card-body">
    <%= render 'form', patient: @patient %>
  </div>
  <div class="card-footer text-muted">
    <%= link_to 'Back', patients_path, class: "btn btn-dark" %>
  </div>
</div>







